- if policy(@form_answer).can_download_original_pdf_of_application_before_deadline?
  = link_to 'Download nomination and local assessment form (PDF)',
            @form_answer.pdf_version.url,
            class: "download-link govuk-link",
            download: true
