input class="govuk-input js-trigger-autosave #{ question.style.presence || 'govuk-input--width-10' }" type="#{ question.type.presence || 'text' }" name=question.input_name value=question.input_value autocomplete="off" id="q_#{question.key}" *possible_read_only_ops(question.step.opts[:id])
