.govuk-grid-column-one-quarter.applications-filter.assigned-lieutenancy-filter
  = g.input :assigned_ceremonial_county,
            include_blank: true,
            collection: options,
            label: 'Lord Lieutenancy assigned',
            input_html: { multiple: true, class: 'js-admin-filter-option' },
            selected: defined?(selected_ids) ? selected_ids : nil
