p.govuk-body style="font-size: 19px; line-height: 1.315789474; margin: 30px 0 30px 0;"
  = "Hello #{@group_leader_name},  your group has been nominated for Queens Awards for Volunteering."



p.govuk-body style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"
  | Best wishes, Queens Awards for Volunteering team
