.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  margin: 0 !important;
}

.dropdown-menu {
  background: white;
  box-shadow: 3px 3px 3px rgba(0,0,0, .2);
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  padding: 5px 0;
  list-style-type: none;
  margin: 2px 0 0 0;
  z-index: 100;
  display: none;
  border: 1px solid govuk-colour("dark-grey");

  li {
    display: block;
    padding: 0;
    margin: 0;

    a {
      display: block;
      padding: 5px 10px;
      color: govuk-colour("black");

      &:hover {
        background: govuk-colour("mid-grey");
        color: govuk-colour("black");
      }

      &:focus,
      &:active {
        background: govuk-colour("yellow");
        color: govuk-colour("black");
        box-shadow: inset 0 -3px 0 0 govuk-colour("black");
      }
    }
  }

  li.active {
    a {
      background: govuk-colour("blue");
      color: white;

      &:hover {
        background: govuk-colour("blue");
        color: white;
      }
    }
  }
}

.dropdown.open .dropdown-menu {
  display: block;
}

#select-award-year {
  padding-top: 9px !important;
}

#select-award-year__options {
  font-family: "GDS Transport", sans-serif;
  color: #444;
  padding: 0.3em 1em 0.25em 0.5em;
  margin-top: -1px;
}
