= f.input :first_name,
          input_html: { class: 'small' },
          label_html: { class: 'govuk-label--s' }

= f.input :last_name,
          input_html: { class: 'small' },
          label_html: { class: 'govuk-label--s' }
#email-control-group
  = f.input :email,
            input_html: { class: 'medium' },
            label_html: { class: 'govuk-label--s' }
