/*
 *= require_self
 *= require jquery-ui
 *= require select2.min
 */

// Password strength bar
$error-colour: #df3034;
$yellow: #ffbf47;
$button-colour: #00823b;
@import "frontend/password_guidance";

@import "admin/variables";
@import "admin/toggle";
@import "admin/dropdown";
@import "admin/layout";
@import "admin/base";
@import "admin/forms";
@import "admin/header-footer";
@import "admin/page-applications";
@import "admin/page-users";
@import "admin/page-settings";
@import "admin/page-feedback";
@import "admin/page-dashboard";
@import "admin/page-eligibility";
@import "admin/date-time-picker";
@import "admin/tables";
@import "./micromodal";

// HIGHLIGHT PLACEHOLDER BITS
$todo-yellow: #ffff00;
$todo-green: #66ff66;
$todo-black: #333;

.todo-note {
  display: none;
}

.layout-dev {
  .todo-note {
    display: block;
    background: $todo-yellow;
    color: $todo-black;
    font-weight: bold;
  }

  .todo-placeholder {
    outline: 4px solid $todo-yellow !important;
  }
}

.govuk-select {
  padding-right: 20px
}

.govuk-notification-banner__heading {
  max-width: 100%
}
