= simple_form_for [:admin, resource],
  as: :user,
  url: resource.persisted? ? admin_user_path(resource, search: params[:search], page: params[:page]) : admin_users_path(search: params[:search], page: params[:page]),
  html: { class: "qae-form" } do |f|
  = render "fields_user_details", f: f

  .govuk-button-group
    = f.submit "#{f.object.persisted? ? 'Update' : 'Add'} user",
               class: "govuk-button"

    - if resource.persisted? && resource.confirmed_at.blank?
      = link_to "Resend confirmation email",
                resend_confirmation_email_admin_user_path(resource),
                class: "govuk-button",
                method: :patch

    - if resource.access_locked?
      = link_to "Unlock",
                unlock_admin_user_path(resource),
                class: "govuk-button",
                method: :patch

    - if resource.persisted?
      = link_to "Log in and create nomination",
                log_in_admin_user_path(resource),
                class: "govuk-button",
                target: "_blank",
                method: :patch

    = link_to "Cancel",
              admin_users_path(search: params[:search], page: params[:page]),
              class: "govuk-button govuk-button--secondary btn-default btn-md"
