h4.govuk-heading-s class='govuk-!-margin-bottom-2 govuk-!-margin-top-7'
  ' Email notification
= render 'email_notification', kind: 'award_year_open_notifier', title: 'award year open notification email'
