h4.govuk-heading-s class='govuk-!-margin-bottom-2'
  ' Deadlines
= render 'deadline_form', kind: 'buckingham_palace_attendees_details', title: 'end of embargo date'
/ = render 'deadline_form', kind: 'buckingham_palace_media_information', title: 'QAO winner release date'
= render 'deadline_form', kind: 'buckingham_palace_confirm_press_book_notes', title: 'press book deadline'
= render 'deadline_form', kind: 'buckingham_palace_reception_attendee_information_due_by', title: 'Buckingham Palace reception attendee information deadline'
= render 'deadline_form', kind: 'buckingham_palace_attendees_invite', title: 'Buckingham Palace reception date'
