h4.govuk-heading-s class='govuk-!-margin-bottom-2 govuk-!-margin-top-7'
  ' Email notifications
= render 'email_notification', kind: 'group_leader_notification', title: 'local assessment group leader notification email'
= render 'email_notification', kind: 'local_assessment_notification', title: 'local assessment local assessment notification email'
= render 'email_notification', kind: 'local_assessment_reminder', title: 'local assessment local assessment reminder email'
