h4.govuk-heading-s class='govuk-!-margin-bottom-2 govuk-!-margin-top-7'
  ' Email notification
= render 'email_notification', kind: 'local_assessment_reminder', title: 'shortlisted stage local assessment email notification'
= render 'email_notification', kind: 'shortlisted_notifier', title: 'shortlisted stage shortlisted email notification'
= render 'email_notification', kind: 'not_shortlisted_notifier', title: 'shortlisted stage not shortlisted email notification'
